<img src='https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg' width=50/>
<img src='https://upload.wikimedia.org/wikipedia/commons/d/d0/Google_Colaboratory_SVG_Logo.svg' width=70/>

# <font size=50>Introduction to Python using Google Colab</font>
<font color="#e8710a">Â© Adriana STAN, David COMBEI, 2025</font>

<font color="#e8710a">Contributor: Gabriel ERDEI </font>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/adrianastan/python-intro/blob/main/notebooks/en/T04_Statements.ipynb)

#<font color="#e8710a">T04. Statements and Flow Control Structures</font>

We move forward in this tutorial and go through the basic statements of the Python language. Unlike the C/C++ and Java languages, we will see that there are a number of statements that facilitate the creation of lists in a single instruction, as well as more complex assignments.

---

<font color="#1589FF"><b>Estimated Completion Time:</b> 90 min</font>

---

##<font color="#e8710a">Python Statements</font>

At their base, programs are built from statements and expressions. Expressions process objects and are framed in statements. Expressions return a result, so they are most often on the right side of an assignment sign. But they can be used independently in function calls, for example, or object constructors.

In the Python language, it is not necessary to use a symbol to terminate the statement (as `;` is used in many other programming languages). Introducing a new line of text signals the end of the statement, with some exceptions.

In [1]:
a = 3 # Moving to the next line symbolizes the end of the instruction

With the exception of more complex statements that can be written on multiple lines. In this case, the intermediate lines must be terminated with `\` without other characters after this symbol.

In [2]:
a, b, c, d, e, f, g, h =\
    1, 2, 3, 4,\
    5, 6, 7, 8

If we add a white space, we will generate a syntax error:

In [3]:
a, b, c, d, e, f, g, h =\
    1, 2, 3, 4, 5, 6, 7, 8

An exception to this rule refers to function calls, where it is not necessary to terminate the line with `\`:

In [4]:
def function(a,b,c,d):
  return a+b+c+d

function (a=1,
   b=2,
   c=3,
   d=4)

10

As well as the definition of sequence-type data:

In [5]:
my_list = [1,
     2,
     3,
     4]

It is possible to write multiple statements on the same line by separating them with `;`, except for compound statements.

In [6]:
a = 3; b = 4;

**<font color="#1589FF">Compound Statements</font>**

Compound statements in Python are marked by indentation. To begin a compound statement, the colon symbol, `:`, is used.
The end of indentation marks the end of the compound statement.

In [7]:
if 2 > 3:
  print ("True Branch")
else:
  print ("False Branch")
  print ("Adding another line")

print("We exited the compound statement")

False Branch
Adding another line
We exited the compound statement

In short, the list of statements available in Python is presented in the following table:

Statement | Role | Example
--- | --- | ---
Assignment | Creating references | a, b = 'good', 'bad'
Call and other expressions | Running functions | log.write("spam, ham")
Print calls | Displaying objects | print('My Object', object)
if/elif/else | Selecting actions | if "python" in text: print(text)
for/else |  Loops  |for x in mylist: print(x)
while/else | Loops | while X > Y: print('hello')
pass | Empty statement | while True: pass
break |  Exiting a loop | while True: if exittest(): break
continue | Continuing a loop | while True: if skiptest(): continue
def |  Functions and methods | def f(a, b, c=1, *d): print(a+b+c+d[0])
return | Returning from functions | def f(a, b, c=1, *d): return a+b+c+d[0]
yield |  Generator functions | def gen(n): for i in n: yield i*2
global | Namespaces | global x, y; x = 'new'
nonlocal | Namespaces (3.x) | nonlocal x; x = 'new'
import | Import module | import sys
from | Access module components | from sys import stdin
class | Define object classes | class Subclass(Superclass):
try/except/ finally | Catching exceptions| try: action; except: print('action error')
raise | Throwing exceptions |raise EndSearch(location)
assert | Assertions | assert X > Y, 'X too small'
with/as | Context manager (3.X, 2.6>)| with open('data') as myfile:  process(myfile)
del | Deleting references | del data[k]


In what follows, we will briefly present the use and characteristics of these statements in the Python language.

##<font color="#e8710a">Assignments</font>

Assignments refer to creating a new reference to an object. They are done using the equals symbol, `=`:

> `reference = object_expression`

References are commonly called *variables*. Thus, in Python, variables are created upon assignment, and they cannot be used before being assigned. Certain operations create assignments implicitly.


**<font color="#1589FF">Rules for Naming Variables</font>**

*   They are made up of (underscore or letter) + (any number of letters, digits, or underscores);
*   They are case-sensitive;
*   Reserved words cannot be used as identifiers.


**<font color="#1589FF">Naming Conventions</font>**

*   Variables starting with an underscore `_` are not imported via `from module import *`;
*   Variables of the type `__X__` are identifiers used by the system;
*   Methods enclosed by dunder `__` are called magic/dunder methods and are implicitly called by the object when certain actions are executed;
*   Variables starting with dunder  `__`  and not ending with underscore `_` are pseudoprivate variables of classes;
*   The variable `_` in interactive sessions keeps the last calculated result.


**<font color="#1589FF">Reserved Words</font>**

The following identifiers are reserved words and cannot be used to define program variables:

<center><img src='https://raw.githubusercontent.com/adrianastan/python-intro/main/notebooks/ro/imgs/T03_keywords.png' height=150/></center>

###<font color="#e8710a">Basic Assignments</font>

In [8]:
# Basic assignment
a = 1
a

1

In [9]:
b = 2
b

2

In [10]:
# Assignment through tuple, equivalent to a = 1; b = 2;
a, b = 1, 2
print(a)
print(b)

1
2

In [11]:
# Assignment through list
[a, b] = [1, 2]
print(a)
print(b)

1
2

In [12]:
# Variable exchange
a, b = b, a
a, b

(2, 1)

In [13]:
# Assignment of tuple to variable list
[a, b, c] = (1, 2, 3)
c, b, a

(3, 2, 1)

In [14]:
# Assignment of a string to a tuple
# the mechanism is also called sequence unpacking
(a, b, c) = "ABC"
a, b, c

('A', 'B', 'C')

###<font color="#e8710a">Advanced Sequential Assignments</font>

In [15]:
s = 'apple'
a, b, c = s[0], s[1], s[2:] # Indexing and slicing
a, b, c

('a', 'p', 'ple')

In [16]:
a, b, c = list(s[:2]) + [s[2:]] # slicing and concatenation
a, b, c

('a', 'p', 'ple')

In [17]:
a, b = s[:2] # similar
c = s[2:]
a, b, c

('a', 'p', 'ple')

In [18]:
(a, b), c = s[:2], s[2:] # nested sequences
a, b, c

('a', 'p', 'ple')

**<font color="#1589FF">Multiple Assignments</font>**

In [19]:
a = b = c = 'apple'
a, b, c

('apple', 'apple', 'apple')

In [20]:
# CAUTION with mutable objects!!
a = b = [1,2]
b.append(42)
a, b # Both variables are modified

([1, 2, 42], [1, 2, 42])

**<font color="#1589FF">Compound Assignments</font>**

They are done in-place, which means that the initial reference (variable) will change its value or the referenced object.

In [21]:
a = [1, 2]
b = a
a += [3, 4] # we extend a with the values 3 and 4
a, b        # b will contain the same values as a, because it refers to the same object

([1, 2, 3, 4], [1, 2, 3, 4])

###<font color="#e8710a">Extended Sequence Unpacking</font>

If we want to unpack sequences in a more complex way, we can use the so-called *star named* variables. In this case, the values in the sequence that do not have a direct match in the list of variables will be assigned to this star-named variable.

For simple unpacking, we have already seen an example of the type:

In [22]:
seq = [1, 2, 3, 4]
a, b, c, d = seq
print(a, b, c, d)

1 2 3 4

Ce se Ã®ntÃ¢mplÄ atunci cÃ¢nd numÄrul de elemente din secvenÈÄ este mai mare decÃ¢t numÄrul de variabile?

In [23]:
# Error
a, b = seq

ValueError: too many values to unpack (expected 2)

In this case, for the last variable in the list and only for it, we can use star name. As a result, all the elements in the sequence that are not assigned to the previous variables in the list will be assigned to this last star-name variable:

In [24]:
seq = [1, 2, 3, 4]
a, *b = seq
print (a)
print (b) # b will contain all the elements in the list that have not been assigned

1
[2, 3, 4]

It is important to mention that, although a simple assignment could be made depending on the number of elements in the sequence, the star-name variable will always be a list (possibly empty):

In [25]:
# d will take the last element as a list
seq = [1, 2, 3, 4]
a, b, c, *d = seq
print(a, b, c, d)

1 2 3 [4]

In [26]:
# *e will be an empty list
a, b, c, d, *e = seq
print(a, b, c, d, e)

1 2 3 4 []

##<font color="#e8710a">The Empty Statement</font>

During the development of an application, there may be functions, methods, classes, etc. that are not currently implemented, but must be declared in the code. In other words, these functions, methods, and classes do nothing at the moment. To do this, we have the empty statement `pass`. It has no result, but is used as a placeholder for the code written later:

In [27]:
def func():
  pass

func() # Calling the function

In [28]:
class C:
  pass

obj = C() # Instantiating an object from class C

Starting with Python 3.0, we can use the ellipsis `...` as an alternative.

In [29]:
def func():
    ...
func()


class C:
  ...
obj = C()

##<font color="#e8710a">The print() Function</font>

The `print()` function displays the text representation of an object. It is important to note here that the text representation of a (more complex) object may be different from the content of its attributes. By default, the `__str__()` method associated with the object will be called, which can be overwritten in custom classes.

In Python 2.x `print` was a statement: `print a`. And in Python 3.x it is a built-in function that returns `None`: `print (a)`.

The complete form of the `print()` function in Python 3.x is:

```
print([object, ...][, sep=' '][, end='\n'][, file=sys.stdout][, flush=False])
```

Let's see some examples:

In [30]:
a = 'apples'
b = 1
c = ['pears']
print(a, b, c)

apples 1 ['pears']

In [31]:
print(a, b, c, sep='') # Removing the separator

apples1['pears']

In [32]:
print(a, b, c, sep=', ') # Special separator

apples, 1, ['pears']

The result of the `print()` function is displayed by default in `stdout`. But we can redirect this display to `stderr` or to a file:

In [33]:
# Display in stderr
import sys
print("Stderr", file=sys.stderr)

Stderr

In [34]:
# Write to a file
print(a, b, c, file=open('out.txt', 'w'))

Usually, the print function will use the string formatting methods to create messages that combine strings with variables in the program:

In [35]:
a = 2
b = 3
print("The sum of %d and %d is %s." %(a,b,a+b))

The sum of 2 and 3 is 5.

In [36]:
s1 = 'Ana'
s2 = 'apples'
print ("%s has %s. " %(s1, s2))
print ("The reverse of the sentence is: \"%s was %s.\"" %(s1[::-1], s2[::-1]))

Ana has apples.
The reverse of the sentence is: "anA was selppa."

##<font color="#e8710a">The IF Statement</font>

The IF statement is a decision statement, compound, with the following general form:


```
if test1:
    statements1
elif test2:
    statements2
else:
   statements3

```

`test1` and `test2`, as well as other expressions included in the `if` or `else` clauses, must return a truth or boolean value, as follows:

*   All objects have an implicit boolean value;
*   Any non-zero number and any non-null object is `True`;
*   Numbers equal to 0, null (empty) objects, and the special object `None` are considered `False`;
*   Comparisons and equality tests are recursively applied to data structures;
*   Comparisons and equality tests return `True` or `False` (custom versions of 1 and 0);
*   The boolean operators `and` and `or` return a `True` or `False` object;
*   Chained boolean operators no longer execute if the result value is already known.



Let's see some examples of using the IF statement:

In [37]:
if 1:
  print('If branch')
else:
  print('Else branch')

If branch

In [38]:
if False:
  print('If branch')
else:
  print('Else branch')

Else branch

In [39]:
a = 3
if a == 1:
  print("a has the value 1")
elif a == 2:
  print("a has the value 2")
else:
  print("a has another value other than 1 or 2")

a has another value other than 1 or 2

In Python<=3.10, there is no direct equivalent for the `switch` statement. But it can be substituted in 2 ways. For Python versions < 3.10, we can use a dictionary, but no additional statements can be executed, only a value is returned:

In [40]:
cases = {'ana': 10,
        'ionut': 9,
        'maria': 8,
        'george': 7}

choice = 'maria'
print(cases[choice])

8

In Python 3.10, the `match` statement was introduced in the form:

```
match choice:
    case <pattern_1>:
        <action_1>
    case <pattern_2>:
        <action_2>
    case <pattern_3>:
        <action_3>
    case _:
        <action_wildcard>
```

To use this statement, Python 3.10 is required. We can check the version of Python that is currently running with:

In [41]:
!python --version

Python 3.11.11

If the cell above displays Python>=3.10, you can run the next cell, otherwise you will get a syntax error.

In [42]:
choice = 'adriana'
match choice:
  case "ana":
    print ("10")
  case "ionut":
    print ("9")
  case "maria":
    print ("8")
  case "george":
    print ("7")
  case _: # Default
    print ("I don't have information about this person")

I don't have information about this person

###<font color="#e8710a">The Ternary Operator</font>

Similar to the ternary operator in C/C++, `expr?true_branch:false_branch`, in Python we have this operator implemented using the `if` statement written on a single line:

`R = Y if X else Z`

Which would be equivalent to:

```
if X:
 	R = Y
else:
  R = Z
```

In [43]:
# Ternary operator with if
a = 4
b = 10 if a < 3 else 11
print (b)

11

In [44]:
s = 'ana'
t = ' has apples' if s == 'ana' else ' has pears'
print (s+t)

ana has apples

###<font color="#e8710a">Nested IF Statements</font>

Unlike other programming languages where it can become quite complicated to track the branches of `else if` or `else` associated with an `if` statement, in Python, indentation makes this much simpler:

In [45]:
a = 5
b = 4
c = 3
if a > b:
  if a > c:
    print ("Max = a:", a)
  else:
    print ("Max = c:", c)
else:
  if b > c:
    print ("Max = b:", b)
  else:
    print ("Max = c:", c)

Max = a: 5

##<font color="#e8710a">The WHILE Statement</font>


We move on to the cyclic or looping statements. The first statement of this type is the `while` statement which has the general form:

```
while condiÈie: # condiÈia de test a buclei
  instrucÈiuni  # corpul buclei
else:           # ramurÄ else opÈionalÄ
  instrucÈiuni  # se executÄ dacÄ nu s-a ieÈit din buclÄ cu break
```

Let's see a first example:

In [46]:
a = 10
while a: # As long as a!=0
  print(a, end=' ')
  a-=1

10 9 8 7 6 5 4 3 2 1

It is important that within the loop, the test condition is modified. Otherwise, we get infinite loops. For the following example, you will have to forcibly stop the execution of the cell using the stop icon on its left:

In [47]:
a = 11
while a: # as long as a != 0
  print(a, end=' ')
  a-=2

11 9 7 5 3 1 -1 -3 -5 -7 -9 -11 -13 -15 -17 -19 -21 -23 -25 -27 -29

Obviously, there are cases where we do not want a loop to be executed until the test condition becomes false or to execute the entire body of statements. For this, we have jump statements: `break` and `continue`

* `break` - exits the loop that encapsulates it;
* `continue` - jumps to the beginning of the loop that encapsulates it.

In [48]:
a = 11
while a:
  if a < 5:
    break # Exits while when a becomes 5
  print(a, end=' ')
  a-=1

11 10 9 8 7 6 5

In [49]:
a = 11
while a:
  a-=1
  if a < 5:
    continue # Jumps over the following statements when a becomes 5
  print(a, end=' ')

print("\na at the exit of the loop is:", a)

10 9 8 7 6 5
a at the exit of the loop is: 0

Also in the `while` loop we have the `else` branch, which is not common in many other programming languages. This branch is executed upon normal exit from the loop and is not executed when we exit with a `break` jump statement:

In [50]:
a = 11
while a:
  a-=1
else:
  print ("We reached the else branch!")

We reached the else branch!

In [51]:
a = 11
while a:
  a-=1
  if a < 5:
    print ("We exit the loop without going through the else branch")
    break
else:
  print ("We reached the else branch!")

We exit the loop without going through the else branch

##<font color="#e8710a">The FOR Statement</font>

Another loop statement is the `for` statement with the general form given by:

```
for val in obiect_iterabil:
  instrucÈiuni
else:
  instrucÈiuni #se executÄ doar la ieÈirea normalÄ din buclÄ
```

The object used in the header of the statement (`iterable_object`) must be **iterable**!!! This means it is either a sequence-type object or an object that implements iteration mechanisms. We will return to iterators towards the end of this tutorial.

> **NOTE** `val` can be modified within the `for` loop, but it will return to the next value from the iterable object in the next iteration. Upon exiting the loop, `val` will store the last value used in the loop.

In [52]:
# for over a list
for x in ["ana", "has", "apples"]:
  print(x, end=' ')

ana has apples

In [53]:
sum = 0
for x in [1, 2, 3, 4]: # iterating over the list
  sum += x
print("Sum: ", sum)

Sum:  10

In [54]:
# Iteration over string
S = "Python"
for c in S:
  print(c, end=' ')

P y t h o n

In [55]:
# Iteration over tuple
T = ('a', 'b', 'c')
for x in T:
  print(x, end=' ')

a b c

In [56]:
# Tuple unpacking
T = [(1, 2), (3, 4), (5, 6)]
for (a, b) in T:
  print(a, b)

1 2
3 4
5 6

In [57]:
# Iteration using dictionary keys
D = {'a': 1, 'b': 2, 'c': 3}
for key in D:
  print(key, D[key])

a 1
b 2
c 3

In [58]:
# Iteration using keys and values from dictionary
D = {'a': 1, 'b': 2, 'c': 3}
for (key, value) in D.items():
  print(key, value)

a 1
b 2
c 3

###<font color="#e8710a">Else Branch</font>

As in the case of the WHILE statement, we have the `else` branch of the `for` statement which is executed only upon normal exit from the loop (without jump):

In [59]:
# Check the existence of a key in the dictionary
D = {'a': 1, 'b': 2, 'c': 3}
value = 4
for key in D:
  if D[key] == value:
    print ("Value was found")
    break
else:
  # If break was not called
  print ("Value was not found", value)

Value was not found 4

In [60]:
# Force exit through break
D = {'a': 1, 'b': 2, 'c': 3}
value = 2
for key in D:
  if D[key] == value:
    print ("Value was found")
    break
else:
  # The else branch is not executed
  print ("Value was not found", value)

Value was found

###<font color="#e8710a">Nested for Loops</font>

In [61]:
letters = ['a', 'b', 'c']
digits = [1, 2, 3]

for l in letters: # Iterate over the letters list
  for c in digits: # Iterate over the digits list
    print (l,c)

a 1
a 2
a 3
b 1
b 2
b 3
c 1
c 2
c 3

###<font color="#e8710a">FOR and WHILE for Reading from Files</font>

In most applications, it will be necessary to read or write data from/to files. Using the `while` or `for` loops, we can do this extremely simply.

In [62]:
# We create a file to read from
%%writefile test.txt
Hello.
How are you?

Overwriting test.txt

In [63]:
# Using the while loop
file = open('test.txt')
while True:
  char = file.read(1) # We read character by character
  if not char:
    break  # An empty string means the end of the file
  print(char)

H
e
l
l
o
.


H
o
w

a
r
e

y
o
u
?

In [64]:
# Using the for loop
for char in open('test.txt').read():
  print(char)

H
e
l
l
o
.


H
o
w

a
r
e

y
o
u
?

In [65]:
# Reading line by line
file = open('test.txt')
while True:
  line = file.readline()
  if not line: break
  print(line.rstrip())

Hello.
How are you?

In [66]:
# We initially read all the lines and just display them in turn
for line in open('test.txt').readlines():
  print(line.rstrip())

Hello.
How are you?

In [67]:
# Equivalent to
for line in open('test.txt'):
  print(line.rstrip())

Hello.
How are you?

##<font color="#e8710a">Additional Functions for Encoding Loops</font>

###<font color="#e8710a">The range() Function</font>

For for loops, we have seen so far that we need an iterable object in order to be able to run them. But most of the time we need a simple number iterator on the basis of which to traverse the loop a fixed number of times. For this we have the `range()` function:

```
range(start, stop, step)
```

The function will generate the numbers between `start` (inclusive) and `stop` (exclusive) with a step given by `step`. Start is implicitly 0, and step is implicitly +1:

In [68]:
# Numbers from 0 to 4
list(range(5))

[0, 1, 2, 3, 4]

In [69]:
# Numbers from 2 to 4
list(range(2, 5))

[2, 3, 4]

In [70]:
# Numbers from 0 to 9 incremented by 2 at each step
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [71]:
# Numbers from -5 to 4
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [72]:
# Numbers from 5 to -4 decremented by 2 at each step
list(range(5, -5, -2))

[5, 3, 1, -1, -3]

In [73]:
# Use in for
for i in range(3):
  print(i)

0
1
2

**<font color="#1589FF">Range versus Slicing</font>**

For sequence data types, `range()` can be replaced with the partitioning methods applied to them:

In [74]:
S = 'abcde'
# Indices from 0 to the length of S, incremented by 2
list(range(0, len(S), 2))

[0, 2, 4]

In [75]:
# We display every second character from S using range()
for i in range(0,len(S),2):
  print(S[i])

a
c
e

In [76]:
# We display every second character from S using string partitioning
for c in S[::2]:
  print(c)

a
c
e

###<font color="#e8710a">The zip() Function</font>

The `zip()` function allows combining multiple sequence-type data into one. The resulting sequence will be composed of the elements of the individual sequences at the same ordinal position:

In [77]:
# We combine the elements of two lists
L1 = [1,2,3,4]
L2 = ['a', 'b', 'c', 'd']
list(zip(L1, L2)) # The first element from L1 combined with the first element from L2...

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

Above we use the list constructor because `zip()` returns an iterable sequence and cannot be displayed directly:

In [78]:
zip(L1,L2)

In [79]:
# Use in for
for (x, y) in zip(L1, L2):
  print(x, y)

1 a
2 b
3 c
4 d

In [80]:
# The sequences are cropped to the size of the shortest one
S1 = 'abc'
S2 = '12345'
list(zip(S1, S2))

[('a', '1'), ('b', '2'), ('c', '3')]

**<font color="#1589FF">Creating Dictionaries with the zip() Function</font>**

With the help of the `zip()` function, we can quickly create dictionaries if we know the keys and the values associated with these keys as sequences:

In [81]:
# We create an association between the key and value lists
keys = ['ana', 'has', 'apples']
values = [1, 2, 3]
list(zip(keys, values))

[('ana', 1), ('has', 2), ('apples', 3)]

In [82]:
# We create a dictionary starting from the 2 lists
D = {}
for (k, v) in zip(keys, values):
  D[k] = v
D

{'ana': 1, 'has': 2, 'apples': 3}

In [83]:
# We can write on a single line using dictionary comprehension
D = {k: v for (k, v) in zip(keys, values)}
D

{'ana': 1, 'has': 2, 'apples': 3}

In [84]:
# Or we can use the dict() constructor
D = dict(zip(keys,values))
D

{'ana': 1, 'has': 2, 'apples': 3}

###<font color="#e8710a">The map() Function</font>

The `map()` function will apply a specified function to each element in a sequence:

In [85]:
# We calculate the ASCII value of each character in the string
list(map(ord, 'apple'))

[97, 112, 112, 108, 101]

In [86]:
# We create a list containing the cube of the values in the initial list
values = [1, 2, 3, 4, 5]
def cube(n):
    return n**3

list(map(cube, values))

[1, 8, 27, 64, 125]

We can also use functions that take multiple parameters. In this case, we will have to provide iterables for each parameter separately:

In [87]:
# We raise each element in the base list to the power specified in power
base = [2,2,2,2]
power = [1,2,3,4]
list(map(pow, base, power))

[2, 4, 8, 16]

###<font color="#e8710a">The enumerate() Function</font>

The `enumerate()` function will take each element from a sequence, as well as the index of this element in the sequence:

In [88]:
S = 'apple'
for (index, elem) in enumerate(S):
  	print(elem, 'appears at index', index)

a appears at index 0
p appears at index 1
p appears at index 2
l appears at index 3
e appears at index 4

In [89]:
# We iterate the lines in the file
for (index, line) in enumerate(open('test.txt')):
 	print('Line %s: %s' % (index, line.strip()))

Line 0: Hello.
Line 1: How are you?

##<font color="#e8710a">Iterators</font>

An **iterable object** is a generalization of the notion of a sequence. It can be a physically stored sequence (such as lists, tuples, dictionaries) or an object that produces the values in the sequence one by one.


Any object that has a `__next__` method attached to advance to the next result and which throws the `StopIteration` exception at the end of the series of results is considered an iterator in Python. Such an object can be used in a for loop.

**<font color="#1589FF">File Iterators</font>**

In [90]:
%%writefile input.txt
Linia 1
Linia 2
Linia 3
Linia 4

Overwriting input.txt

In [91]:
# We read the entire content of the file at once
open('input.txt').read()

'Linia 1\nLinia 2\nLinia 3\nLinia 4\n'

In [92]:
# We extract the lines from the file one by one using __next__
f = open('input.txt')
f.__next__()

'Linia 1\n'

In [93]:
f.__next__() # The next line in the file

'Linia 2\n'

##<font color="#e8710a">Sequence Comprehension</font>

An extremely powerful feature of the Python language and of object sequences is the comprehension mechanism.
This mechanism involves creating sequence-type objects using a chaining of operations and functions written on a single line of code:

```
mylist = [expression for var in input_list if (var satisfies the condition)]

dict = {key:value for (key, value) in iterable if (key, value satisfy the condition)}

set = {expression for var in input_list if (var satisfies the condition)}
```


The equivalent for this mechanism would be using a `for` loop combined with `if` statements.

In [94]:
# Standard version
L = [1, 2, 3, 4, 5]
for i in range(len(L)):
  L[i] += 10
L

[11, 12, 13, 14, 15]

In [95]:
# List Comprehension
L = [x + 10 for x in L]
L

[21, 22, 23, 24, 25]

In [96]:
# We create a list with the characters from the string
S = 'Ana123'
L = [c for c in S]
L

['A', 'n', 'a', '1', '2', '3']

In [97]:
# We create a list with the uppercase characters from the string
[c.upper() for c in S]

['A', 'N', 'A', '1', '2', '3']

In [98]:
# We create a list with the uppercase letters from the string
[c.upper() for c in S if c.isalpha()]

['A', 'N', 'A']

In [99]:
# We create a list with the uppercase letters from the list of strings
# We use 2 for loops in comprehension
L1 = ["Ana has apples", "John has pears", "Michael has oranges"]
L2 = [c for word in L1 for c in word if c.isupper()]
L2

['A', 'J', 'M']

In [100]:
# Dictionary comprehension - cube of the odd elements from the list
L = [1, 2, 3, 4, 5, 6, 7]
D = {var:var ** 3 for var in L if var % 2 != 0}
D

{1: 1, 3: 27, 5: 125, 7: 343}

In [101]:
# Set comprehension
L = [1, 2, 3, 4, 5, 5]
S = {x+10 for x in L}
S

{11, 12, 13, 14, 15}

---

##<font color="#e8710a">Conclusions</font>

In this tutorial, we have tried to introduce as many essential details as possible regarding the use of basic statements in the Python language. In the next tutorial, we will expand the use of these statements for creating functions, modules, and packages.

---

##<font color="#1589FF"> Exercises</font>

1) Display the value of Pi obtained from the `math` module with a precision of 10 decimal places and right alignment on 20 positions.

In [102]:
## SOLUTION EX. 1

2) Determine the maximum of three numbers using the `if` statement.

In [103]:
## SOLUTION EX. 2

3) Display the first 20 values from the Fibonacci sequence.

In [104]:
## SOLUTION EX. 3

4) Write a program that displays every second character from a list of strings.

In [105]:
L = ["Ana", "Maria", "Popescu", "Ionescu", "Vasile", "Gheorghe"]
## SOLUTION EX. 4

5) Write a program that determines the number of digits that make up an integer.

In [106]:
## SOLUTION EX. 5

6) Create a list using the comprehension mechanism that contains only the numbers that are perfect squares from another list.

In [107]:
## SOLUTION EX. 6

7) Create a dictionary through the comprehension mechanism that uses keys extracted from a list of strings, and the values associated with the keys are the indices where the character 'a' appears in the key. The keys are only those strings that contain only alphabetic characters.

In [108]:
L = ["Ana", "Maria", "Popescu", "Ion12", "Vasile34", "Gheorghe"]
# Output: {'Ana': 2, 'Maria': 1, 'Popescu': -1, 'Gheorghe': -1}

## SOLUTION EX. 7

---

##Additional References

1. Advanced Comprehension: https://python-course.eu/advanced-python/list-comprehension.php?

2. Iterators: https://docs.python.org/3/library/itertools.html